---

- hosts: elastic
  gather_facts: False
  remote_user: ubuntu
  become: yes
  become_user: root
  become_method: sudo

  tasks:
    - name: Update Packages
      raw: (apt-get update && apt-get -y upgrade)

    - name: Install Python 2
      raw: test -e /usr/bin/python || (apt-get update && apt-get install -y python)
    
    - name: Install docker py
      raw: apt-get -y install python-pip
      
    - name: Install docker py
      raw: pip install docker-py
      
    #- name: Install docker compose
      #raw: pip install docker-compose

    - name: COMMON | Set environment
      blockinfile:
        dest: /etc/environment
        block: |
          LC_ALL=en_US.UTF-8
          LANG=en_US.UTF-8
      register: newenv
    
    - block:
      - name: COMMON | Generate locales
        raw: locale-gen en_US.UTF-8
