[Unit]
Description=Flask web server
[Install]
WantedBy=multi-user.target
[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/bin/python /home/app.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
